<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="css/ceshi9_1.css" />
    <link rel="stylesheet" href="css/ceshi9_2.css" />
    <link rel="stylesheet" href="css/ceshi9_3.css" />
    <title>抖音很火的罗盘时钟</title>
   
    <script>

        if(true){
            var i = 1;
        }
        console.log(i);
    </script>
</head>
<style></style>

<body>
    <div id="sum">

        <div id="message">
            <ul>
                <li class="msgs" v-for="(item,index) in Arrays">{{item}}</li>
            </ul>
        </div>

        <li id="shade"></li>

        <div id="second">
            <ul>
                <li v-for="item in flag">
                    {{item}} </li>
            </ul>
        </div>

        <div id="minute">
            <ul>
                <li v-for="item in flag_minute">
                    {{item}} </li>
            </ul>
        </div>

        <div id="hour">
            <ul>
                <li v-for="item in flag_hour">
                    {{item}} </li>
            </ul>
        </div>

        <div id="year">
            <ul>
                <li id="yearAll">天祈</li>
            </ul>
        </div>

        <div id="mouth">
            <ul>
                <li v-for="item in flag_mouth">
                    {{item.name}} </li>
            </ul>
        </div>

        <div id="solar">
            <ul>
                <li v-for="(item,index) in flag_solar" :key="index" v-on:mouseover="showMsg(index)" v-on:mouseout="hideMsg()" class="mm">
                    {{item.name}} </li>
            </ul>
        </div>

        <div id="data">
            <ul>
                <li v-for="item in flag_data">
                    {{item.name}} </li>
            </ul>
        </div>

        <div id="AP">
            <ul>
                <li v-for="item in flag_AP">
                    {{item.name}} </li>
            </ul>
        </div>
    </div>
</body>
<script src="https://www.jq22.com/jquery/vue.min.js"></script>
<script src="js/ceshi9.js"></script>
</html>
